<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon'/ >
    <title>CSIVIT - CCS16</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/Style/main.css" type="text/css">
    <link rel="stylesheet" href="/Style/common.css" type="text/css">
</head>
<body>

    <%- include sidebar %>
    <nav class="navbar" role="navigation">
        <div class="navbar-header">
            </button> <a class="navbar-brand" href="#"><h3>CSIVIT - CCS16</h3></a>
        </div>
        <span class="pull-right" id="userDetails">
            <p class="text-primary">
                <strong><%= user.details.regNo %></strong>
                - <%= user.details.fullName %>
            </p>
        </span>
    </nav>

    <div class="wrapper container-fluid">
        <% if (message.length > 0) { %>
    		<div class="alert alert-danger"><%= message %></div>
    	<% } %>
        <form action="/details" method="post">
    		<small><p class="text-info"></p></small>
    		<div class="form-group">

    			<input type="text" placeholder="Registration Number(optional)" value="<%= user.details.regNo||"" %>" name="regNo">
    		</div>
    		<div class="form-group">
    			<input type="text" style="text-transform:none" placeholder="Full Name" value="<%= user.details.fullName||"" %>" name="fullName">
    		</div>
    		<div class="form-group">
    			<input type="text" placeholder="Mobile Number" value="<%= user.details.mobNo||"" %>" name="mobNo">
    		</div>
    		<div class="form-group">
    			<input type="text" placeholder="Experience" value="<%= user.details.experience||"" %>" name="experience">
    		</div>
    		<div class="form-group">
    			<textarea placeholder="Projects" name="projects"><%= user.details.projects||"" %></textarea>
    		</div>
    		<span style:"padding: 40px"></span>
    		<a style="float:left" type="submit" class="submit-profile" href="/profile">cancel</a>
    		<button style="float:right" type="submit" class="submit-profile">Update my profile</button>
    	</form>
    </div>
</body>
</html>
