<!doctype html>
<html>
<head>
	<title>RIDDLER - Profile</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="Style/main.css" type="text/css">
    <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon'/ >
	<style>
		/*body 		{ padding-top:80px; word-wrap:break-word; }*/
	</style>
</head>
<body>
<div class="container">
	<div class="text-center">
		<h2 style="color:#717171; padding-top:30px"><%= 25-(new Date()).getDate() %> DAYS TO GO</h2>
	</div>

	<div class="container page-header text-left">
		<h1>Here is your Profile.</h1>
		
		
		<a href="/logout" class="submit-profile" style="padding-right:20px">Logout</a>
		<a href="/details" class="submit-profile" style="padding-right:20px">Update Details</a>
		
		<% if(isAdmin){ %>
		<a href="/admin/editQuestions" target="new" class="submit-profile pull-right" style="padding-right:20px">Edit Questions</a>
		<a href="/admin/users" target="new" class="submit-profile pull-right" style="padding-right:20px">Users : <%= users.length %></a>
		<% } %>
	</div>

	<div class="row">
		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="container profile-details">
				<p style="color: #fff; font-size:20px">
					<strong style="color: #ee202e; font-size:20px">email</strong>: <%= userInfo.email %><br>
					<strong style="color: #ee202e">Reg. No.</strong>: <%= userInfo.regNo %><br>
					<strong style="color: #ee202e">username</strong>: <%= userInfo.username %><br>
					<strong style="color: #ee202e">mobNo</strong>: <%= userInfo.mobNo %><br>
				</p>

			</div>
		</div>
		<% if(isAdmin){ %>
		<div class="col-sm-6" style="color: #ee202e">
			Users : <br/>
			<div class="usersList" style="color: #fff">
				<% users.forEach(function(u){ %>
					<%= u.profile.username %> | 
				<% }) %>
			</div>
		</div>
		<% } %>
	</div>

</div>
</body>
</html>
