<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon'/ >
    <title>CSIVIT - CCS16</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bower_components/toastr/toastr.min.js"></script>
    <link rel="stylesheet" href="/bower_components/toastr/toastr.min.css">

    <link rel="stylesheet" href="/Style/main.css" type="text/css">
    <link rel="stylesheet" href="/Style/common.css" type="text/css">
</head>
<body ng-app="riddlerApp" ng-controller="riddlerController">

    <%- include sidebar %>
    <nav class="navbar" role="navigation">
        <div class="navbar-header">
            </button> <a class="navbar-brand" href="#"><h3>CSIVIT - CCS16</h3></a>
        </div>
        <span class="pull-right" id="userDetails">
            <p class="text-primary">
                <strong><%= user.details.regNo %></strong>
                - <%= user.details.fullName %>
            </p>
        </span>
    </nav>

    <div class="wrapper container-fluid">

    	<div class="row">
    		<!-- LOCAL INFORMATION -->
    		<div class="col-sm-6">
    			<div class="container profile-details">
    				<p style="color: #fff; font-size:20px">
    					<strong style="color: #ee202e; font-size:20px">email</strong>: <%= userInfo.email %><br>
    					<strong style="color: #ee202e">Reg. No.</strong>: <%= userInfo.regNo %><br>
    					<strong style="color: #ee202e">Name</strong>: <%= userInfo.fullName %><br>
    					<strong style="color: #ee202e">mobNo</strong>: <%= userInfo.mobNo %><br>
    				</p>

    			</div>
    		</div>
    		<div class="col-sm-6" style="color: #ee202e">
    		<% if(isAdmin){ %>
    			Users : <br/>
    			<div class="usersList" style="color: #fff">
    				<% users.forEach(function(u){ %>
    					<a style="font-size: 17px;color: white;" href="/admin/user/<%= u._id.toString() %>"><%= u.details.regNo %></a> |
    				<% }) %>
    			</div>
    			<hr/>
    			<a href="/admin/submissions" target="new" class="submit-profile">Review Submissions</a>
    			<% } %>
    		</div>
    	</div>
    </div>
</body>
</html>
