<!doctype html>
<html>
<head>
    <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon'/ >
	<title>CCS16 - questions edit</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
	<style>
	/*body 		{ padding-top:80px; }*/
	.alert.alert-success{
		position: absolute;
		z-index: 9999;
	}
	</style>
</head>
<body>
	<div class="container-fluid">
		<% if (message.length > 0) { %>
			<div id="message" class="alert alert-success text-center" style="margin-left:50px"><%= message %></div>
			<% } %>
            <h4><a href="/profile">&lt;-- Profile</a></h4>
			<div class="col-sm-4" id="edit">

				<h1><span class="fa fa-sign-in"></span> Add new Question</h1>

				<!-- LOGIN FORM -->
				<form action="/admin/addQuestion" method="post">

					<div class="form-group">
						<label>Category</label>
						<select value="<%- quess.length+1 %>" class="form-control" name="category">
                            <% categories.forEach(function(category){ %>
                                <option value="<%= category %>"><%= category.substr(0,1).toUpperCase() + category.substr(1) %></option>
                            <% }) %>
                        </select>
					</div>
					<div class="form-group">
						<label>Question Number</label><small> (Leave blank to append)</small>
						<input type="Number" value="<%- quess.length+1 %>" class="form-control" name="qno">
					</div>
					<div class="form-group">
						<label>Question</label>
						<textarea class="form-control" name="ques"></textarea>
					</div>
					<div class="form-group">
						<label>Options</label>
						<textarea class="form-control" name="options"></textarea>
					</div>
					<div class="form-group">
						<label>Answer</label>
						<input type="text"  class="form-control" name="answer">
					</div>
					<button type="submit" class="btn btn-warning btn-lg">Add</button>
				</form>

				<hr>

			</div>

			<div class="col-sm-8">
                <% categories.forEach(function(cat){ %>
                    <h3><%= cat.toUpperCase() %></h3>
                    <table style="width:100%" border="2px">
    					<tr>
    						<th>Ques. No.</th>
    						<th>Question</th>
    						<th>Choices</th>
    						<th>Answer</th>
    						<th></th>
    					</tr>
    					<% quess.forEach(function(ques,index){ if(ques.category!=cat)return; %>
    					<tr>
    						<td><%= ques.qno %></td>
    						<td><%= ques.ques %></td>
                            <td><%= ques.choices %></td>
    						<td><%= ques.answer %></td>
    						<td><a href="/admin/removeQuestion?qid=<%- ques._id %>" class="btn btn-warning btn-small">Delete</a></td>
    					</tr>
    					<% }) %>
    				</table>
                <% }) %>
			</div>
		</div>
		<script type="text/javascript">
		setTimeout(function(){
			document.getElementById("message").remove();
		},5000);
		</script>
	</body>
	</html>
